@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
    <link type="text/css" href="~/Content/datatables.css" rel="stylesheet" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" class="pre-scrollable">

    <div class="container">

        <!-- PRE LOADER -->
        <section class="preloader">
            <div class="spinner">

                <span class="spinner-rotate"></span>

            </div>
        </section>


        <!-- MENU -->
        <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <img id="ucrImage" src="../images/ucr.png" style="border: 0; float: left; margin-right: 15px" />
                    <!-- lOGO TEXT HERE -->


                </div>

                <!-- MENU LINKS -->
                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                        <li class="smoothScroll">  </li>

                        <button type="button" id="btnLog" class="btn" onclick="clearTextBoxStudent();">Registrarse</button>

                        <button type="button" id="btnSignLog" data-toggle="modal" data-target="#myModalSignLog" onclick="clearTextBoxSignLog();" class="btn">Iniciar Sesión</button>

                        <button type="button" id="btnProfessor" onclick="clearTextBoxProfessor();" class="btn">Registrar profesor</button>

                        <button type="button" id="btnCourse" onclick="clearTextBoxCourse();" class="btn">Registrar curso</button>

                        <button type="button" id="btnEnrollCourse" data-toggle="modal" data-target="#myModalEnrollCourse" class="btn" onclick="enrollCourse();">Inscribirse a curso</button>

                        <button type="button" id="btnEnrollCourseProfessor" data-toggle="modal" data-target="#myModalEnrollCourseProfessor" class="btn">Inscribir profesor a curso</button>

                        <button type="button" id="btnNews" data-toggle="modal" data-target="#modalNews" class="btn" onclick="clearTextBoxNews();">Añadir noticia</button>

                        <button type="button" id="btnStudentCourses" class="btn" onclick="studentCourses();">Cursos</button>

                        <button type="button" id="btnProfessorCourses" class="btn" onclick="professorCourses();">Cursos</button>

                        <button type="button" id="btnNewsStudent" class="btn" onclick="newsStudent();">Noticias</button>

                        <button type="button" id="btnNewsProfessor" class="btn" onclick="newsProfessor();">Noticias</button>

                        <button type="button" id="btnReturnStudent" class="btn" onclick="returnStudent();">Volver al perfil</button>

                        <button type="button" id="btnReturnProfessor" class="btn" onclick="returnProfessor();">Volver al perfil</button>

                        <button type="button" id="btnLogOut" class="btn" onclick="logOut();">Cerrar Sesión</button>

                    </ul>
                </div>

            </div>
        </section>

        <!---Sign up log in-->

        <div class="modal fade" id="myModalSignLog" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAdd" class="modal-title"> Inicio de sesión </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="UsernameSignLog">Nombre de usuario</label>
                                <input type="text" class="form-control" id="UsernameSignLog" placeholder="Ingrese su usuario" autocomplete="off">

                            </div>

                            <div class="form-group">
                                <label for="PasswordSignLog">Contraseña</label>
                                <input type="password" class="form-control" id="PasswordSignLog" placeholder="Ingrese su contraseña" autocomplete="off">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <label id="invalidUser" hidden="hidden"></label>
                        <button type="button" class="btn" onclick="login();" id="btnAdd">Iniciar sesión</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Insert Update News-->
        <div class="modal fade" id="modalNews" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="addNewsTitle" class="modal-title"> Insertar noticia </h4>
                        <h4 id="UpdateNewsTitle" class="modal-title"> Actualizar noticia </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group" hidden>
                                <label>ID</label>
                                <input type="text" class="form-control" id="NewsId">
                            </div>

                            <div class="form-group">
                                <label>ID Usuario</label>
                                <input type="text" class="form-control" id="AuthorId" disabled>
                            </div>

                            <div class="form-group">
                                <label>Título</label>
                                <input type="text" class="form-control" id="NewsTitle" placeholder="Título de la noticia" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label>Autor</label>
                                <input type="text" class="form-control" id="Author" placeholder="Autor de la noticia o usuario que publica" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label>Fecha de publicación</label>
                                <input type="date" class="form-control" id="Date">
                            </div>

                            <div class="form-group">
                                <label for="Image">Imagen</label>
                                <input type="file" class="form-control" id="NewsImage">
                            </div>

                            <div class="form-group">
                                <label>Noticia</label>
                                <textarea rows="6" cols="50" class="form-control" id="text" placeholder="Ingrese su noticia" autocomplete="off"></textarea>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="addNews();" id="btnAddNews">Añadir</button>
                        <button type="button" class="btn" onclick="updateNews();" id="btnUpdateNews">Actualizar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- View News-->
        <div class="modal fade" id="modalViewNews" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="addNewsTitle" class="modal-title"> Detalle noticia </h4>

                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group" hidden>
                                <label id="idDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Título:</label>
                                <label id="titleDetails">Título</label>
                            </div>

                            <div class="form-group">
                                <label>Autor:</label>
                                <label id="authorDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Fecha de publicación:</label>
                                <label id="datetimeDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Noticia:</label>
                                <label id="newsDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Comentarios:</label>
                                <ul id="ulComments" class="list-group"></ul>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="addComment" placeholder="Comentario" autocomplete="off">
                                </br>
                                <button type="button" class="btn" onclick="addComments();" id="btnAddComment">Añadir</button>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Student Register and Update-->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAddStudent" class="modal-title"> Registro de estudiante </h4>
                        <h4 id="HeaderTitleUpdateStudent" class="modal-title"> Actualizar estudiante </h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group" hidden="hidden" id="DivStudentId">
                                        <label for="StudentId">ID</label>
                                        <input type="text" class="form-control" id="StudentId" disabled="disabled">
                                    </div>

                                    <div class="form-group">
                                        <label for="StudentCard">Carné</label>
                                        <input type="text" class="form-control" id="StudentCard" placeholder="Carné" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Name">Nombre</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Nombre" autocomplete="off">
                                    </div>


                                    <div class="form-group">
                                        <label for="Last Name">Apellido</label>
                                        <input type="text" class="form-control" id="LastName" placeholder="Apellido" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Birthday">Fecha de Nacimiento</label>
                                        <input type="date" class="form-control" id="Birthday" placeholder="Fecha de Nacimiento">
                                    </div>

                                    <div class="form-group">
                                        <label for="Mail">Correo eléctronico</label>
                                        <input type="text" class="form-control" id="Mail" placeholder="Correo eléctronico" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Image">Fotografía</label>
                                        <input type="file" class="form-control" id="Image" placeholder="Fotografía">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="Username">Nombre de usuario</label>
                                        <input type="text" class="form-control" id="Username" placeholder="Nombre de usuario" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Password">Contraseña</label>
                                        <input type="password" class="form-control" id="Password" placeholder="Contraseña" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Province">Provincia</label>
                                        <select class="form-control" id="ProvinceDropdown" name="ProvinceDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Canton">Cantón</label>
                                        <select class="form-control" id="CantonDropdown" name="CantonDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="District">Distrito</label>
                                        <select class="form-control" id="DistrictDropdown" name="DistrictDropdown"></select>
                                    </div>

                                    <div class="form-group" hidden="hidden" id="DivStatusStudentDropdown">
                                        <label for="StatusStudentDropdown">Estado</label>
                                        <select class="form-control" id="StatusStudentDropdown">
                                            <option value="0">Inactivo</option>
                                            <option value="1">Activo</option>
                                        </select>
                                    </div>

                                    <br />

                                    <div class="form-group" hidden="hidden" id="DivStudentCheckbox">
                                        <label>Administrador</label>
                                        <label class="switch">
                                            <input type="checkbox" id="StudentCheckbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" id="btnAddStudent" onclick="return Add();">Registrarse</button>
                        <button type="button" class="btn" id="btnUpdateStudent" style="display:none" onclick="EditStudent();">Actualizar</button>
                        <button type="button" class="btn" id="btnUpdateProfileStudent" style="display:none" onclick="editProfileStudent();">Actualizar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

        <!---Professor Register and Update-->

        <div class="modal fade" id="myModalProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="TitleAddProfessor" class="modal-title"> Registro de profesor </h4>
                        <h4 id="TitleUpdateProfessor" class="modal-title" hidden="hidden"> Actualizar </h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <label for="ProfessorId">Identificador</label>
                                        <input type="text" class="form-control" id="ProfessorId" disabled="disabled">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorUsername">Nombre de usuario</label>
                                        <input type="text" class="form-control" id="ProfessorUsername" placeholder="Nombre de usuario" autocomplete="off">

                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorPassword">Contraseña</label>
                                        <input type="password" class="form-control" id="ProfessorPassword" placeholder="Contraseña" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorName">Nombre</label>
                                        <input type="text" class="form-control" id="ProfessorName" placeholder="Nombre" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorLastName">Apellido</label>
                                        <input type="text" class="form-control" id="ProfessorLastName" placeholder="Apellido" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorMail">Correo eléctronico</label>
                                        <input type="text" class="form-control" id="ProfessorMail" placeholder="Correo eléctronico" autocomplete="off">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <label for="AcademicDegree">Grado Académico</label>
                                        <select class="form-control" id="AcademicDegreeDropdown" name="AcademicDegreeDropdown"></select>
                                    </div>


                                    <div class="form-group">
                                        <label for="Province">Provincia</label>
                                        <select class="form-control" id="ProfessorProvinceDropdown" name="ProvinceDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Canton">Cantón</label>
                                        <select class="form-control" id="ProfessorCantonDropdown" name="CantonDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="District">Distrito</label>
                                        <select class="form-control" id="ProfessorDistrictDropdown" name="DistrictDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="StatusProfessorDropdown">Estado</label>
                                        <select class="form-control" id="StatusProfessorDropdown" disabled="disabled">
                                            <option value="0">Inactivo</option>
                                            <option value="1">Activo</option>
                                        </select>
                                    </div>

                                    <br />

                                    <div class="form-group">
                                        <label>Administrador</label>
                                        <label class="switch">
                                            <input type="checkbox" disabled="disabled" id="ProfessorCheckbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" id="btnAddProfessor" onclick="return AddProfessor();">Registrar</button>
                        <button type="button" class="btn" id="btnUpdateProfessor" onclick="EditProfessor();">Actualizar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

        <!------Update Image Student-->
        <div class="modal fade" id="modalUpdateImageStudent" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Actualizar foto</h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" id="idStudent" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label>Foto</label>
                                <input type="file" class="form-control" id="imgStudent">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn" id="btnUpdateImageStudent" onclick="updateImageStudent();">Actualizar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!------Update Image Professor-->
        <div class="modal fade" id="modalUpdateImageProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Actualizar foto</h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" id="idProfessor" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label>Foto</label>
                                <input type="file" class="form-control" id="imgProfessor">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn" id="btnUpdateImageProfessor" onclick="updateImageProfessor();">Actualizar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Course Register---->
        <div class="modal fade" id="myModalCourse" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="TitleAddCourse" class="modal-title"> Registro de curso nuevo </h4>
                        <h4 id="TitleUpdateCourse" class="modal-title"> Actualizar curso </h4>

                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="CourseId">ID</label>
                                <input type="text" class="form-control" id="CourseId" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label for="CourseInitials">Siglas</label>
                                <input type="text" class="form-control" id="CourseInitials" placeholder="Ingrese las siglas del curso" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="CourseName">Nombre</label>
                                <input type="text" class="form-control" id="CourseName" placeholder="Ingrese el nombre del curso" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="IsCourseActive">Estado de curso</label>
                                <select class="form-control" id="IsActiveDropdown" name="IsActiveDropdown">
                                    <option value="0">Inactivo</option>
                                    <option value="1">Activo</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="CourseCredits">Créditos</label>
                                <input type="text" class="form-control" id="CourseCredits" placeholder="Ingrese los créditos del curso" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="CourseCycle">Ciclo</label>
                                <select class="form-control" id="CycleDropdown" name="CycleDropdown">
                                    <option value="1">I Semestre</option>
                                    <option value="2">II Semestre</option>
                                    <option value="3">Verano</option>
                                </select>
                            </div>

                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn" onclick="addCourse();" id="btnAddCourse">Registrar curso</button>
                            <button type="button" class="btn" onclick="editCourse();" id="btnEditCourse">Actualizar</button>
                            <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOME -->
        <section id="home">
            <div class="row">

                <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Recinto de Paraíso</h1>
                                    <h3>El Recinto de Paraíso fue creado con el fin de generar espacios para la capacitación y el enriquecimiento acádemico, en pro del desarrollo de la comunidad.</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Proceso de acreditación</h1>
                                    <h3>El Bachillerato en Informática Empresarial es la primera carrera exclusiva de todas las sedes regionales de la Universidad de Costa Rica que culmina el proceso de autoevaluación con miras a la acreditación.</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Instalaciones</h1>
                                    <h3>El Recinto cuenta con áreas para el desarrollo de las lecciones, actividades al aire libre y un amplio parqueo para vehículos.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!------News Section-->
        <section id="newsSection" hidden>
            <div class="row">
                <h2>Noticias</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tableNews">

                        <thead>
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Título
                                </th>
                                <th>
                                    Autor
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableNews">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!------Student Courses-->
        <section id="StudentCoursesSection" hidden>
            <div class="table-responsive">
                <h3>Cursos matriculados</h3>
                <table class="table table-bordered table-hover" id="tableStudentCourses">

                    <thead>
                        <tr>
                            <th>
                                Siglas
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Créditos
                            </th>
                            <th>
                                Ciclo
                            </th>
                            <th>
                                Profesor
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tableStudentCourses">
                    </tbody>
                </table>
            </div>

        </section>

        <!----Enroll Course --->
        <div class="modal fade" id="myModalEnrollCourse" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Inscribirse a curso </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="courseList">Cursos</label>
                                <div class="form-group">
                                    <select class="form-control" id="courseListDropdown" name="courseListDropdown"></select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="professorList">Profesor</label>
                                <div class="form-group">
                                    <select class="form-control" id="professorListDropdown" name="professorListDropdown"></select>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn" onclick="enrollNewCourse();" id="btnEnrollNewCourse">Agregar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

        <!----Enroll Course Professor--->
        <div class="modal fade" id="myModalEnrollCourseProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Inscribir profesor a curso</h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="courseList">Cursos</label>
                                <div class="form-group">
                                    <select class="form-control" id="courseDropdown"></select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="professorList">Profesor</label>
                                <div class="form-group">
                                    <select class="form-control" id="professorDropdown"></select>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="enrollNewCourseProfessor();" id="btnEnrollNewCourseProfessor">Agregar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!------Professor Courses-->
        <section id="ProfessorCoursesSection" hidden>
            <h4>Cursos impartidos</h4>
            <table class="table table-bordered table-hover" id="professorCourses">

                <thead>
                    <tr>
                        <th>
                            Siglas
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Ciclo
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody class="professorCourses">
                </tbody>
            </table>
        </section>

        <!------Student Section-->

        <section id="studentSection">
            <div class="row pre-scrollable">
                <h2 id="StudentWelcomeMessage"></h2> <hr />
                <img src="" id="imgProfile" width="150" height="150" title="Editar" onclick="getImageStudent();" />
                <button type="button" id="btnSocialNetworkStudent" data-toggle="modal" data-target="#myModalSocialNetworkStudent" class="btn">Ajustes Redes Sociales</button>
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn" id="btngetProfileStudent" onclick="getProfileStudent();">Editar perfil</button>

                <!---Social Networks-->

                <div class="modal fade" id="myModalSocialNetworkStudent" tabindex="-1" role="dialog" hidden>

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Redes Sociales </h4>

                            </div>
                            <div class="modal-body">

                                <form>
                                    <div class="form-group">
                                        <label for="socialNetworkList">Redes Sociales</label>
                                        <div class="form-group">
                                            <select class="form-control" id="SocialNetworkStudentDropdown" name="SocialNetworkDropdown"></select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="studentSocialNetwork">Red Social</label>
                                        <input type="text" class="form-control" id="studentSocialNetwork" placeholder="Ejemplo: facebook.com/UniversidadCostaRica" autocomplete="off">
                                    </div>

                                </form>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn" id="btnAddSocialNetworkStudent" onclick="addSocialNetworkStudent();">Agregar</button>
                                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!------Student Information-->

                <div class="col-md-6">
                    <h3>Datos personales</h3> <hr />
                    <form>
                        <div class="form-group" hidden="hidden">
                            <label id="labelStudentId"></label>
                        </div>

                        <div class="form-group">
                            <label for="StudentCard">Carné:</label>
                            <label id="labelStudentCard"></label>
                        </div>

                        <div class="form-group">
                            <label for="Username">Nombre de usuario:</label>
                            <label id="labelStudentUserName"></label>
                        </div>


                        <div class="form-group">
                            <label for="Name">Nombre:</label>
                            <label id="labelStudentName"></label>
                        </div>

                        <div class="form-group">
                            <label for="Birthday">Fecha de Nacimiento:</label>
                            <label id="labelStudentBirthday"></label>
                        </div>

                        <div class="form-group">
                            <label for="Mail">Correo eléctronico:</label>
                            <label id="labelStudentMail"></label>
                        </div>

                        <h3>Ubicación</h3> <hr />

                        <div class="form-group">
                            <label for="Province">Provincia:</label>
                            <label id="labelStudentProvince"></label>
                        </div>

                        <div class="form-group">
                            <label for="Canton">Cantón:</label>
                            <label id="labelStudentCanton"></label>
                        </div>

                        <div class="form-group">
                            <label for="District">Distrito:</label>
                            <label id="labelStudentDistrict"></label>
                        </div>

                        <h3>Redes Sociales</h3> <hr />
                        <ul id="ulSocialNetworksStudent" class="list-group">
                        </ul>
                    </form>
                </div>

            </div>
        </section>

        <!------Professor Section-->

        <section id="professorSection">
            <div class="row pre-scrollable">
                <h2 id="ProfessorWelcomeMessage"></h2> <hr />
                <img src="" id="imgProfileProfessor" width="150" height="150" title="Editar" onclick="getImageProfessor();" />
                <button type="button" id="btnSocialNetworkProfessor" data-toggle="modal" data-target="#myModalSocialNetworkProfessor" class="btn">Ajustes Redes Sociales</button>
                <button type="button" id="btngetProfileProfessor" data-toggle="modal" data-target="#myModalProfessor" class="btn" onclick="getProfileProfessor();">Editar perfil</button>

                <!---Social Networks-->

                <div class="modal fade" id="myModalSocialNetworkProfessor" tabindex="-1" role="dialog" hidden>

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Redes Sociales </h4>

                            </div>
                            <div class="modal-body">

                                <form>
                                    <div class="form-group">
                                        <label for="socialNetworkList">Redes Sociales</label>
                                        <div class="form-group">
                                            <select class="form-control" id="SocialNetworkProfessorDropdown" name="SocialNetworkDropdown"></select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="professorSocialNetwork">Red Social</label>
                                        <input type="text" class="form-control" id="professorSocialNetwork" placeholder="Ejemplo: facebook.com/UniversidadCostaRica" autocomplete="off">
                                    </div>


                                </form>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn" id="btnAddSocialNetworkProfessor" onclick="addSocialNetworkProfessor();" id="btnAdd">Agregar</button>
                                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!------Professor Information-->

                <div class="col-md-6">
                    <h3>Datos personales</h3> <hr />
                    <form>
                        <div class="form-group" hidden="hidden">
                            <label id="labelProfessorId"></label>
                        </div>

                        <div class="form-group">
                            <label>Nombre de usuario:</label>
                            <label id="labelProfessorUserName"></label>
                        </div>

                        <div class="form-group">
                            <label>Nombre:</label>
                            <label id="labelProfessorName"></label>
                        </div>


                        <div class="form-group">
                            <label>Correo electrónico:</label>
                            <label id="labelProfessorMail"></label>
                        </div>

                        <div class="form-group">
                            <label>Grado Acádemico:</label>
                            <label id="labelProfessorAcademicDegree"></label>
                        </div>

                        <h3>Ubicación</h3> <hr />

                        <div class="form-group">
                            <label for="Province">Provincia:</label>
                            <label id="labelProfessorProvince"></label>
                        </div>

                        <div class="form-group">
                            <label for="Canton">Cantón:</label>
                            <label id="labelProfessorCanton"></label>
                        </div>

                        <div class="form-group">
                            <label for="District">Distrito:</label>
                            <label id="labelProfessorDistrict"></label>
                        </div>

                        <h3>Redes Sociales</h3> <hr />
                        <ul id="ulSocialNetworksProfessor" class="list-group">
                        </ul>
                    </form>
                </div>
            </div>
        </section>

        <!------Administrator Section-->

        <section id="administratorSection" hidden="hidden">
            <h3>Administrador</h3>
            <div class="row pre-scrollable">
                <!---ADMINISTRATOR/STUDENT APPROVAL-->
                <div class="table-responsive">
                    <h3>Estudiantes en espera</h3>
                    <table class="table table-bordered table-hover" id="tableApproval">

                        <thead>
                            <tr>
                                <th>
                                    Carné
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableApproval">
                        </tbody>
                    </table>
                </div>

                <!---ADMINISTRATOR/LIST PROFESSOR-->
                <div class="table-responsive">
                    <h3>Profesores Registrados</h3>
                    <table class="table table-bordered table-hover" id="tableProfesor">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableProfesor" id="tableProfesor">
                        </tbody>
                    </table>
                </div>

                <!---Courses registered-->
                <div class="table-responsive">
                    <h3>Cursos registrados</h3>
                    <table class="table table-bordered table-hover table-striped" id="tableCourseRegister">

                        <thead>
                            <tr>
                                <th>
                                    Siglas
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Créditos
                                </th>
                                <th>
                                    Ciclo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableCourseRegister" id="tableCourseRegister">
                        </tbody>
                    </table>
                </div>

                <!---ALL STUDENTS-->
                <div class="table-responsive">
                    <h3>Estudiantes registrados</h3>
                    <table class="table table-bordered table-hover" id="tableStudents">

                        <thead>
                            <tr>
                                <th>
                                    Carné
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableStudents">
                        </tbody>
                    </table>
                </div>

                <!---NEWS-->
                <h2>Noticias</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tableNewsAdministrator">

                        <thead>
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Título
                                </th>
                                <th>
                                    Autor
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableNewsAdministrator">
                        </tbody>
                    </table>
                </div>

                <!---COMMENTS-->
                <div class="table-responsive">
                    <h3>Comentarios</h3>
                    <table class="table table-bordered table-hover" id="tableComments">
                        <thead>
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Comentario
                                </th>
                                <th>
                                    Autor
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableComments">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!---Public Consultation-->

        <div class="modal fade" id="modalPublicConsultationStudent" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="titlePublicConsultation" class="modal-title" hidden> Consulta pública </h4>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="courseIdPublicConsultation" hidden>
                        <input type="text" id="professorIdPublicConsultation" hidden>
                        <input type="text" id="studentIdPublicConsultation" hidden>

                        <div class="form-group">
                            <input type="text" class="form-control" id="addPublicConsult" placeholder="Consulta" autocomplete="off">
                            </br>
                            <button type="button" class="btn" onclick="sendPublicConsultationStudent();" id="btnConsultationPublicStudent">Enviar</button>
                        </div>

                        <form>
                            <div class="form-group">
                                <ul id="ulConsultationspublic" class="list-group"></ul>
                                <h4> Respuestas </h4>
                                <ul id="ulRepliesConsultationspublic" class="list-group"></ul>
                            </div>

                        </form>
                        <form id="form">
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Private Message-->

        <div class="modal fade" id="modalPrivateMessage" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title"> Consulta privada </h4>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="courseIdPrivateMessage" hidden>
                        <input type="text" id="professorIdPrivateMessage" hidden>
                        <input type="text" id="studentIdPrivateMessage" hidden>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addPrivateMessage" placeholder="Mensaje" autocomplete="off">
                                    </br>
                                    <button type="button" class="btn" onclick="sendPrivateMessage();">Enviar</button>
                                    <div class="form-group">
                                        </br>
                                        <ul id="ulPrivateMessage" class="list-group"></ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4>Conversación</h4>
                                <ul id="ulRepliesPrivateMessage" class="list-group"></ul>
                                <form id="formPrivateMessage">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Appointment-->

        <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title"> Solicitar cita de atención </h4>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="courseIdAppointment" hidden>
                        <input type="text" id="professorIdAppointment" hidden>
                        <input type="text" id="studentIdAppointment" hidden>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addAppointment" placeholder="Motivo cita" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <input type="date" class="form-control" id="dateAppointment">
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn" onclick="sendAppointment();" id="btnSendAppointment">Enviar</button>
                                </div>

                                <div class="form-group">
                                    <ul id="ulAppointment" class="list-group"></ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <h4>Detalle cita</h4>
                                        <ul id="ulStatusAppointment" class="list-group"></ul>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/Student.js"></script>
    <script src="~/Scripts/Professor.js"></script>
    <script src="~/Scripts/Course.js"></script>
    <script src="~/Scripts/user.js"></script>
    <script src="~/Scripts/news.js"></script>
    <script src="~/Scripts/datatables.js"></script>
</body>