@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@*@<script src="~/Scripts/jquery-3.3.1.js"></script>*@
@*<script src="~/Scripts/bootstrap.js"></script>*@
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <div class="container">

        <!-- PRE LOADER -->
        <section class="preloader">
            <div class="spinner">

                <span class="spinner-rotate"></span>

            </div>
        </section>


        <!-- MENU -->
        <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">Informática Empresarial</a>

                </div>

                <!-- MENU LINKS -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                        <li><a href="#top" class="smoothScroll">Inicio</a></li>
                        <li><a href="#about" class="smoothScroll">Acerca de</a></li>
                        <li><a href="#contact" class="smoothScroll">Contáctanos</a></li>
                        <button type="button" id="btnLog" class="btn" onclick="clearTextBoxStudent();">Registrarse</button>
                        <button type="button" id="btnSignLog" data-toggle="modal" data-target="#myModalSignLog" class="btn">Iniciar Sesión</button>
                        <button type="button" id="btnProfessor" onclick="clearTextBoxProfessor();" class="btn">Registrar profesor nuevo</button>
                        <button type="button" id="btnCourse" data-toggle="modal" onclick="clearTextBoxCourse();" data-target="#myModalCourse" class="btn">Registrar curso nuevo</button>
                    </ul>
                </div>

            </div>
        </section>


        <!---Sign up log in-->

        <div class="modal fade" id="myModalSignLog" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAdd" class="modal-title"> Inicio de sesión </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="UsernameSignLog">Nombre de usuario</label>
                                <input type="text" class="form-control" id="UsernameSignLog" placeholder="Ingrese su usuario" autocomplete="off">

                            </div>

                            <div class="form-group">
                                <label for="PasswordSignLog">Contraseña</label>
                                <input type="password" class="form-control" id="PasswordSignLog" placeholder="Ingrese su contraseña" autocomplete="off">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="login();" id="btnAdd">Iniciar sesión</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>




        <!---Student Register-->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAdd" class="modal-title"> Registro de estudiante </h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="StudentCard">Carné</label>
                                        <input type="text" class="form-control" id="StudentCard" placeholder="Carné">

                                    </div>

                                    <div class="form-group">
                                        <label for="Name">Nombre</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Nombre" autocomplete="off">
                                    </div>


                                    <div class="form-group">
                                        <label for="Last Name">Apellido</label>
                                        <input type="text" class="form-control" id="LastName" placeholder="Apellido" value"reset">
                                    </div>

                                    <div class="form-group">
                                        <label for="Birthday">Fecha de Nacimiento</label>
                                        <input type="date" class="form-control" id="Birthday" placeholder="Fecha de Nacimiento">
                                    </div>

                                    <div class="form-group">
                                        <label for="Mail">Correo eléctronico</label>
                                        <input type="text" class="form-control" id="Mail" placeholder="Correo eléctronico">
                                    </div>

                                    <div class="form-group">
                                        <label for="Image">Fotografía</label>
                                        <input type="file" class="form-control" id="Image" placeholder="Fotografía">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="Username">Nombre de usuario</label>
                                        <input type="text" class="form-control" id="Username" placeholder="Nombre de usuario">
                                    </div>

                                    <div class="form-group">
                                        <label for="Password">Contraseña</label>
                                        <input type="password" class="form-control" id="Password" placeholder="Contraseña">
                                    </div>

                                    <div class="form-group">
                                        <label for="Province">Provincia</label>
                                        <select class="form-control" id="ProvinceDropdown" name="ProvinceDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Canton">Cantón</label>
                                        <select class="form-control" id="CantonDropdown" name="CantonDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="District">Distrito</label>
                                        <select class="form-control" id="DistrictDropdown" name="DistrictDropdown"></select>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Registrarse</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none" onclick="Update();">Actualizar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

        <!---Professor Register-->

        <div class="modal fade" id="myModalProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAdd" class="modal-title"> Registro de profesor </h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="ProfessorUsername">Nombre de usuario</label>
                                        <input type="text" class="form-control" id="ProfessorUsername" placeholder="Nombre de usuario" autocomplete="off">

                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorPassword">Contraseña</label>
                                        <input type="password" class="form-control" id="ProfessorPassword" placeholder="Contraseña" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorName">Nombre</label>
                                        <input type="text" class="form-control" id="ProfessorName" placeholder="Nombre" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorLastName">Apellido</label>
                                        <input type="text" class="form-control" id="ProfessorLastName" placeholder="Apellido" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorMail">Correo eléctronico</label>
                                        <input type="text" class="form-control" id="ProfessorMail" placeholder="Correo eléctronico" autocomplete="off">
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="ProfessorImage">Fotografía</label>
                                        <input type="file" class="form-control" id="ProfessorImage">
                                    </div>

                                    <div class="form-group">
                                        <label for="AcademicDegree">Grado Académico</label>
                                        <select class="form-control" id="AcademicDegreeDropdown" name="AcademicDegreeDropdown"></select>
                                    </div>


                                    <div class="form-group">
                                        <label for="Province">Provincia</label>
                                        <select class="form-control" id="ProfessorProvinceDropdown" name="ProvinceDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Canton">Cantón</label>
                                        <select class="form-control" id="ProfessorCantonDropdown" name="CantonDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="District">Distrito</label>
                                        <select class="form-control" id="ProfessorDistrictDropdown" name="DistrictDropdown"></select>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddProfessor();">Registrar</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>


        <!--Course Register---->
        <div class="modal fade" id="myModalCourse" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAdd" class="modal-title"> Registro de curso nuevo </h4>

                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="CourseInitials">Siglas</label>
                                <input type="text" class="form-control" id="CourseInitials" placeholder="Ingrese las siglas del curso" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="CourseName">Nombre</label>
                                <input type="text" class="form-control" id="CourseName" placeholder="Ingrese el nombre del curso" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="IsCourseActive">Estado de curso</label>
                                <select class="form-control" id="IsActiveDropdown" name="IsActiveDropdown">
                                    <option value="0">Inactivo</option>
                                    <option value="1">Activo</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="CourseCredits">Créditos</label>
                                <input type="text" class="form-control" id="CourseCredits" placeholder="Ingrese los créditos del curso" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="CourseCycle">Ciclo</label>
                                <select class="form-control" id="CycleDropdown" name="CycleDropdown">
                                    <option value="1">I Semestre</option>
                                    <option value="2">II Semestre</option>
                                    <option value="3">Verano</option>
                                </select>
                            </div>

                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="addCourse();" id="btnAddCourse">Registrar curso</button>
                            <button type="button" class="btn btn-default" onclick="editCourse();" id="btnEditCourse" data-dismiss="modal">Actualizar</button>
                            <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOME -->
        <section id="home">
            <div class="row">

                <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Asociación de Estudiantes</h1>
                                    <h3>We have the student association which helps other students in academic and recreational activities.</h3>
                                    <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Talks and workshops</h1>
                                    <h3>We provide hands-on workshops and talks for students to learn about more topics outside of the career curriculum.</h3>
                                    <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Adequate infrastructure</h1>
                                    <h3>We offer a good infrastructure for the development of each lesson.</h3>
                                    <a href="#contact" class="section-btn btn btn-default smoothScroll">See gallery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!------Student Section-->

        <section id="studentSection" hidden>
            <div class="row">
                <h1>Estudiante</h1>
                <h2>Este será el acceso a los estudiantes.</h2>
            </div>
        </section>

        <!------Professor Section-->

        <section id="professorSection" hidden>
            <div class="row">
                <h1>Profesor</h1>
                <h2>Este será el acceso a los profesores.</h2>
            </div>
        </section>

        <!------Administrator Section-->

        <section id="administratorSection" hidden>
            <div class="row">
                <h1>Administrador</h1>
                <!---ADMINISTRATOR/STUDENT APPROVAL-->
                <div class="table-responsive hidden">
                    <h3>Estudiantes en espera</h3>
                    <table class="table table-bordered table-hover" id="tableApproval">

                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Mail
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody" id="tableStudent">
                        </tbody>
                    </table>
                </div>

                <!---ADMINISTRATOR/LIST PROFESSOR-->
                <div class="table-responsive hidden">
                    <h3>Profesores Registrados</h3>
                    <table class="table table-bordered table-hover" id="tableProfesor">

                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Mail
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody" id="tableProfesor">
                        </tbody>
                    </table>
                </div>

                <!---Courses registered-->
                <div class="table-responsive">
                    <h3>Cursos registrados</h3>
                    <table class="table table-bordered table-hover" id="tableCourseRegister">

                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Initials
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Credits
                                </th>
                                <th>
                                    Cycle
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody" id="tableCourseRegister">
                        </tbody>
                    </table>
                </div>


            </div>
        </section>

      

        <!-- FEATURE -->
        <!--
    <section id="feature">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>01</span>
                        <h3>Trending Courses</h3>
                        <p>We offer courses that help students to navigate the labor market, making use of trending programming languages ​​as well as strategies to solve problems in a company.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>02</span>
                        <h3>Materials</h3>
                        <p>In recent years, the way of teaching courses has been modified, making use of trending software, updating textbooks, among others.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>03</span>
                        <h3>Certified Professors</h3>
                        <p>We make sure to appoint suitable professionals so that they can impart the lessons in the best way, as well as improving aspects of the career, now we have accreditation with SINAES.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
        -->
        <!-- ABOUT -->
        <!---
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Start your journey to a better life with practical courses</h2>

                        <figure>
                            <span><i class="fa fa-users"></i></span>
                            <figcaption>
                                <h3>Professional Trainers</h3>
                                <p> Professionals in education and computing with research projects.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-certificate"></i></span>
                            <figcaption>
                                <h3>International Certifications</h3>
                                <p>We have professors who have studied in the best public universities in the country as well as have studied abroad.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-bar-chart-o"></i></span>
                            <figcaption>
                                <h3>Comfortable payments and scholarships</h3>
                                <p>Enrollment and courses can be done in different payments, there is also a scholarship system according to the student's need.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                        <form action="#" method="post">
                            <h2>Signup today</h2>
                            <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                            <input type="email" name="email" class="form-control" placeholder="Your email address" required="">

                            <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                            <button class="submit-btn form-control" id="form-submit">Get started</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
        -->
        <!-- TEAM -->
        <!--
    <section id="team">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Professors <small>Meet Professional Trainers</small></h2>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/prof1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Esteban Sanabria</h3>
                            <span>Computer scientist and english professor. <br> Academic degree: Master.</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/esteban.sanabriamora.5" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/prof2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Alvaro Mena</h3>
                            <span>Computer scientist. <br> Academic degree: Master.</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/alvamencr" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/prof3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Livieth Gamboa</h3>
                            <span>Computer scientist. <br> Academic degree: Master.</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/prof4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>José Luis Vásquez</h3>
                            <span>Computer scientist. <br> Academic degree: Master.</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/prof5.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Geovanny Figueroa</h3>
                            <span>Math professor. <br> Academic degree: ESP.</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/prof6.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Gilbert Chaves</h3>
                            <span>Computer scientist. <br> Academic degree: Lic.</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/gilberth.chaves" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
        -->
        <!-- Courses -->
        <!--
    <section id="courses">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-courses">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 9 / 3 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 8 hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Programming II</a></h3>
                                        <p>Design and development of computer programs doing use of a programming language.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof1.jpg" class="img-responsive" alt="">
                                            <span>Esteban Sanabria</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 50</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 9 / 3 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 8 hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Algorithms and data structures</a></h3>
                                        <p>A tour of some of the most important algorithms in computer theory is made and what kinds of problems can be efficiently solved on a computer are determined.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof6.jpg" class="img-responsive" alt="">
                                            <span>Gilberth Chaves</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 80</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10 / 8 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 8 hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Operating systems</a></h3>
                                        <p>This course focuses on the study of the design of operating systems and internal implementation mechanisms.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof6.jpg" class="img-responsive" alt="">
                                            <span>Gilberth Chaves</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 60</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image4.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10 / 8 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 8 Hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Database basics</a></h3>
                                        <p>This course provides the student with the basic concepts of databases as the main component of the information systems.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof3.jpg" class="img-responsive" alt="">
                                            <span>Livieth Gamboa</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 60</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image5.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 9 / 3 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 6 hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Database administration</a></h3>
                                        <p>Analyze the basic tasks related to the administration of a database, to achieve optimal performance of the database.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof3.jpg" class="img-responsive" alt="">
                                            <span>Livieth Gamboa</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 35</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image6.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 9 / 3 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 8 Hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Languages ​​for commercial applications</a></h3>
                                        <p>This course allows its participants to obtain the necessary knowledge to develop commercial software applications, making use of different languages of programming, development tools and application frameworks.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof1.jpg" class="img-responsive" alt="">
                                            <span>Esteban Sanabria</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 80</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image7.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 9 / 3 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 6 Hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Networks and data communications</a></h3>
                                        <p>This course aims to provide the student with various important concepts in the field of data communication, as well as guiding it with product management or constituent elements of a certain data communication system.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof2.jpg" class="img-responsive" alt="">
                                            <span>Alvaro Mena</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 80</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image8.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10 / 8 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Computer Science Applied to Business</a></h3>
                                        <p>This course provides students the necessary knowledge so that you can evaluate and / or implement specific applications in the field of business.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof2.jpg" class="img-responsive" alt="">
                                            <span>Alvaro Mena</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 50</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image9.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10 / 8 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 5 Hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Computer Architecture</a></h3>
                                        <p>In this course architecture is studied of a computer system through the analysis of each of these levels. Knowledge of the logical operation of computers is offered from a microarchitecture to an advanced architecture.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof4.jpg" class="img-responsive" alt="">
                                            <span>José Luis Vásquez</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 50</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="~/images/courses-image10.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10 / 8 / 2020</span>
                                            <span><i class="fa fa-clock-o"></i> 5 Hours per week</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">Linear algebral</a></h3>
                                        <p>Today linear algebra, as a mathematical tool, is essential for the study of behavior of phenomena in areas such as engineering, business and of course computing. That is why the main purpose of the course is develop the fundamental concepts of linear algebra.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/prof5.jpg" class="img-responsive" alt="">
                                            <span>Geovanny Figueroa</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 50</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
    </section>
    -->
        <!-- TESTIMONIAL -->
        <!--
    <section id="testimonial">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Student Reviews <small>from around the world</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-client">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/images/tst-image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Allan Solano</h4>
                                    <span>Business Computing student <br>Fourth year</span>
                                </div>
                                <p>I think it is a highly valued career in the labor market that mixes the technological approach with the organizational approach, which generates IT professionals capable of understanding the administration of a company.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/images/tst-image2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Wilmer Mata</h4>
                                    <span>Business Computing student <br>Third year</span>
                                </div>
                                <p>It is a career that allows future professionals to function in different areas, provides the necessary bases to face the job market. In recent years, the professors in charge have promised to improve it together with the students in order to train better professionals.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/images/tst-image3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Juan Araya</h4>
                                    <span>Business Computing student <br>Fourth year</span>
                                </div>
                                <p>I think that the career is good. It can be used as a platform for many more things, for example that upon graduation one can perform in many fields, due to the nature of our study, we are multipurpose and multiplatform.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>
        -->
        <!-- CONTACT -->
        <!--
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                            <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">

                            <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                            <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="send message" value="Send Message">
                        </div>

                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="~/images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                    </div>
                </div>

            </div>
        </div>
    </section>
        --->
        <!-- FOOTER -->
        <!--
        <footer id="footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2>UCR Recinto Paraíso</h2>
                            </div>
                            <address>
                                <p>Paraíso, Cartago, Costa Rica</p>
                            </address>

                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>

                            <div class="copyright-text">
                                <p>Copyright &copy; 2020 Recinto Paraíso</p>

                                <p>Design: TemplateMo</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2>Contact Info</h2>
                            </div>
                            <address>
                                <p>+506 2511 7550</p>
                                <p><a href="mailto:youremail.co">computing@ucr.ac.cr</a></p>
                            </address>

                            <div class="footer_menu">
                                <h2>Quick Links</h2>
                                <ul>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Investor</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="footer-info newsletter-form">
                            <div class="section-title">
                                <h2>Newsletter Signup</h2>
                            </div>
                            <div>
                                <div class="form-group">
                                    <form action="#" method="get">
                                        <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                        <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                    </form>
                                    <span><sup>*</sup> Please note - we do not spam your email.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    -->
        <!-- SCRIPTS -->
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/smoothscroll.js"></script>
        <script src="~/Scripts/custom.js"></script>
        <script src="~/Scripts/Student.js"></script>
        <script src="~/Scripts/Professor.js"></script>
        <script src="~/Scripts/Course.js"></script>
        <script src="~/Scripts/user.js"></script>

    </div>
</body>