body {
}

#btnLog {
    position: inherit;
    margin-top: 15px;
    background: #ffffff;
    border-color: #a9cce3;
}

#btnLog:hover {

    background: #a9cce3;
    color:white;

}

#btnAdd {
    background: #a9cce3;
    border-color: black;
    color: black;
}

#btnClose {
    background: #a9cce3;
    border-color: black;
    color: black;
}